/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs-regexp
	color: #009926

.hljs-built_in
	color: #0086b3

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword
	color: #000080
	font-weight: normal

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command
	color: #458
	font-weight: bold

.hljs-addition
	background: #dfd

.hljs-list .hljs-keyword,
.hljs-subst
	font-weight: normal

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula
	color: #ed225d

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant
	color: #ed225d

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt
	color: #990073

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body
	color: #008080

.hljs-deletion
	background: #fdd

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata
	color: #999
	font-weight: bold

.hljs-comment,
.diff .hljs-header,
.hljs-javadoc
	color: #998
	font-style: italic

.hljs-chunk
	color: #aaa

.diff
	.hljs-change
		background: #0086b3

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor
	color: #900
	font-weight: bold

.hljs
	display: block
	overflow-x: auto
	padding: 0.5em
	color: #333
	background: #f8f8f8
	-webkit-text-size-adjust: none

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status
	color: #1184CE

