palette-flat-100 = #ffffb3
palette-flat-75 = #bfbf86
palette-flat-50 = #808059
palette-flat-30 = #4d4d36
palette-flat-20 = #333324
palette-flat-15 = #26261b
palette-flat-13 = #212117
palette-flat-11 = #1c1c14
palette-flat-8 = #14140e
palette-standout-50 = #808040
palette-standout-45 = #737339
palette-standout-40 = #666633
palette-standout-35 = #59592d
palette-standout-30 = #4d4d26
palette-sidebar-background = #26261b
palette-sidebar-foreground = #bfbf86
palette-sidebar-test = #ff0000
palette-page-background = #e0e0e0
palette-page-foreground = #4a4a4a
